*
body{
padding: 0;
margin: 0;
font-size: sans-serif;
box-sizing: border-box;
background-size: cover;
}
.dropbtn {
    background-color:#b2ff00;
    color: white;
    padding: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #b2ff00;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f5f3f3}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #b2ff00;
  }
.box{
    width:300px;
    padding:30px;
    position: absolute;
    top:0%;
    left:50%;
    transform: translate(-50%,50%);
    background: rgba(0,0,0,0,4);
    text-align:center;
}
.box h1
{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.box input[type="text"],.box input[type="password"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border:3px solid #e2e46f;
    padding:14px 10px;
    width:220px;
    outline:none;
    color: rgb(5, 5, 5);
    border-radius: 24px;
    transition: 0.25px;
}
::placeholder {
    color: rgb(255, 253, 253);
    opacity: 1;
  }
.box input[type="text"]:focus,.box input[type="password"]:focus{
    width:270px;
    border-color: #e2e46f;
}
.box input[type="submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border:3px solid #e2e46f;
    padding:14px 35px;
    outline:none;
    color: rgb(255, 255, 255);
    border-radius: 24px;
    transition: 0.25px;
    cursor:pointer;  
}
.box input[type="submit"]:hover{
    background: #e2e46f;
}

body
{
    background: url("musicbrain.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif
}
.menu-bar
{
    background: rgb(221, 128, 92);
    text-align: center;
}
.menu-bar ul
{
    display:inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover
{
    background: rgb(238, 96, 39);
    border-radius: 3px;
}
.menu-bar .fa
{
    margin-right: 8px;
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: rgb(238, 96, 39);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul 
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: #b2ff00;
}
.fa-angle-right
{
    float: right;
}
.sub-menu-2
{
    display: none;
}
.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(221, 128, 92);
}

